:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px 8px;
  height: 56px;
  background-color: #1074CC;
  box-shadow:
    0 1px 2px 0 rgba(93, 95, 97, 0.2),
    0 2px 4px 0 rgba(93, 95, 97, 0.2);
}

.header {
  &__brand {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    padding: 0;

    &--menu {
      width: 24px;
      height: 24px;
    }

    &--bell {
      position: relative;
    }

    &--avatar {
      display: none;
    }
  }

  &__badge {
    display: none;
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: none;
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  &__icon {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 1024px) {
  :host {
    padding-inline: 16px 12px;
    gap: 16px;
  }

  .header {
    &__btn {
      display: flex;

      &--menu {
        display: none;
      }
    }

    &__badge {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      padding: 1px 4px;
      border-radius: 10px;
      background-color: #CC1910;
      box-shadow: 0 0 0 1px #1074CC;
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0.1%;
    }

    &__nav {
      display: flex;
      padding-inline: 24px 24px;
      height: 100%;

      &-link {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 100%;
        padding-inline: 12px 16px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #fff;
      }

      &-icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }

      &-icon {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__actions {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 16px;

      .header__btn--search { order: 1; }
      .header__btn--plus { order: 2; }
      .header__btn--history { display: none; }
      .header__btn--bell {
        order: 3;
        margin-left: auto;
      }
      .header__btn--avatar {
        order: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
      }
    }

    &__brand {
      height: 100%;
      flex: 1;
    }
  }
}