:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px 8px;
  height: 56px;
  background-color: #1074CC;
  box-shadow:
    0 1px 2px 0 rgba(93, 95, 97, 0.2),
    0 2px 4px 0 rgba(93, 95, 97, 0.2);
}

.header {
  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
  }

  &__btn {
    background: transparent;
    border: none;
    padding: 0;

    &--menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
    }

    &--avatar {
      display: none;
    }
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: none;
  }
}

@media (min-width: 768px) {
  :host {
    padding-inline: 16px 12px;
    gap: 16px;
  }

  .header {
    &__btn {
      display: flex;

      &--menu {
        display: none;
      }
    }

    &__nav {
      display: flex;
      padding-inline: 24px 24px;
      height: 100%;

      &-link {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }

    &__right {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 16px;

      .header__btn--search { order: 1; }
      .header__btn--plus { order: 2; }
      .header__btn--history { display: none; }
      .header__btn--bell {
        order: 3;
        margin-left: auto;
      }
      .header__btn--avatar {
        order: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
      }
    }

    &__left {
      height: 100%;
    }
  }
}