@media (min-width: 1024px) {
  .search-mobile-only {
    display: none !important;
  }
  .header-mobile-hidden {
    display: flex !important;
  }
}

@media (max-width: 1023px) {
  .header-mobile-hidden {
    display: none !important;
  }

  app-header,
  app-search,
  app-filters {
    position: relative;
    z-index: 20;
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: transparent;
}

app-header {
  position: relative;
  z-index: 20;
}
