:host {

}

.filters {
  &__wrapper {
    margin-inline: 16px;
    height: 384px;
  }

  &__field {
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
    padding-inline: 16px 12px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 4px;
  }

  &__label {
    position: absolute;
    top: -8px;
    left: 12px;
    background: #fff;
    padding: 0 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #8C9499;
  }

  &__input {
    flex: 1;
    height: 20px;
    border: none;
    outline: none;

    &::placeholder {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: #9AA1A6;
    }
  }

  &__btn {
    background-color: #EFF1F2;
    border: none;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;

    &--me {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
    }
  }
}