:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px 16px;
  height: 56px;
  background-color: #fff;
}

.search {
  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
  }

  &__input-box {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
  }

  &__btn {
    background: transparent;
    border: none;
    padding: 0;

    &--close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
    }

    &--clear {
      position: absolute;
      right: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  &__input {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-color: #F5F5F5;
    padding-left: 20px;
    padding-right: 44px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #2A3033;

    &::placeholder {
      color: #9AA1A6;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}
