:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px 16px;
  height: 56px;
  background-color: #fff;
}

.search {
  &__btn {
    background: transparent;
    border: none;
    padding: 0;

    &--close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
    }
  }
}
